
*.DXF

*.pdf

OuvrirPE/\.idea/

ouvrirpdf/\.idea/

OrganizeDXF/log\.txt

organizedessins/log\.txt

*.pyc

OuvrirDXF/log\.txt

OuvrirDXF/partslist\.txt

ouvrirpdf/log\.txt

ouvrirpdf/partslist\.txt

OuvrirPE/log\.txt

OuvrirSTEP/partslist\.txt

OuvrirSTEP/log\.txt

OuvrirSLDPRT/partslist\.txt

OuvrirSLDPRT/log\.txt

OuvrirPE/partslist\.txt

\.settings/

\.project

\.pydevproject

*.zip

ouvrirpdf/filename\.csv

pdf_list\.txt

\.idea/

*.xlsx

\venv_p_tools/

send_po_excel/connection\.py

send_po_excel/credentials\.json

send_po_excel/token\.pickle

send_po_excel/connection/connect_string\.py

work_order/connection/

findprojectnumber/connection/

*.lnk
/venv/
