
*.DXF

*.pdf

OuvrirPE/\.idea/

OuvrirPDF/\.idea/

OrganizeDXF/log\.txt

OrganizePDF/log\.txt

*.pyc

OuvrirDXF/log\.txt

OuvrirDXF/partslist\.txt

OuvrirPDF/log\.txt

OuvrirPDF/partslist\.txt

OuvrirPE/log\.txt

OuvrirSTEP/partslist\.txt

OuvrirSTEP/log\.txt

OuvrirSLDPRT/partslist\.txt

OuvrirSLDPRT/log\.txt

OuvrirPE/partslist\.txt

\.settings/

\.project

\.pydevproject

*.zip

OuvrirPDF/filename\.csv

pdf_list\.txt

\.idea/

*.xlsx

\venv_p_tools/

send_po_excel/connection\.py

send_po_excel/credentials\.json

send_po_excel/token\.pickle

send_po_excel/connection/connect_string\.py
