
*.DXF

*.pdf

OuvrirPE/\.idea/

OuvrirPDF/\.idea/

OrganizeDXF/log\.txt

OrganizePDF/log\.txt

*.pyc

OuvrirDXF/log\.txt

OuvrirDXF/partslist\.txt

OuvrirPDF/log\.txt

OuvrirPDF/partslist\.txt

OuvrirPE/log\.txt

OuvrirSTEP/partslist\.txt

OuvrirSTEP/log\.txt

OuvrirSLDPRT/partslist\.txt

OuvrirSLDPRT/log\.txt

OuvrirPE/partslist\.txt

\.settings/

\.project

\.pydevproject

*.zip

OuvrirPDF/filename\.csv

pdf_list\.txt
